<script type="text/javascript">
  if(typeof window.hulkappsReviews === 'undefined') {
    window.hulkappsProductReview = {};
  }
  window.hulkappsProductReview.baseURL = 'https://reviews.hulkapps.dev/api/shop/v2';
  window.hulkappsProductReview.customerID = {{ customer.id | json }};
  window.hulkappsProductReview.domain = {{ shop.permanent_domain | json }};
  window.hulkappsProductReview.product = {{ product | json }};
  window.hulkappsProductReview.templateType = '{{ request.page_type | handle }}';
</script>



 
 
<div data-hulkapps-reviews-wrapper style='display:none' data-time='2021-10-01'></div>
<script defer type='text/javascript' src='https://hulkapps-dev.s3.us-east-2.amazonaws.com/assets/js/hulkapps-reviews.js'></script>